*{
    text-align: center;
    color: blue;
    background-color: rgb(114, 126, 153);
    color: white
}

p{
    text-align: justify;
    color: red;
    border: 1px solid black;
    margin: 25px;
    padding: 25px;
}

#p{
    color:chartreuse;
}

.p{
    color:blueviolet;
}

/*Comentário*/
